{% extends "base.html" %}

{% block content %}
<div class="product-page">
    <div class="product-details">
        <img src="{{ painting.image.url }}" alt="{{ painting.name }}">
        <div class="details">
            <h1>{{ painting.title }}</h1>
            <p class="price">${{ painting.price }}</p>
            <p><strong>Dimensions:</strong> {{ painting.dimensions }}</p>
            <p><strong>Materials:</strong> {{ painting.materials }}</p>
            <p class="description">
                {{ painting.description }}
            </p>
            <button class="purchase-button">Purchase</button>
            <a href="{% url 'contact:contact' %}" class="contact-button">Ask a Question</a>
        </div>
    </div>
</div>
{% endblock %}