{% extends 'base.html' %}

{% block content %}
<div class="lm-3">
  <h2 style="font-size: 2.5rem; font-weight: bold; margin-bottom: 0.5rem;">Change Password</h2>
  
  {% if messages %}
    <ul class="messages">
      {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}

  <form method="POST">
    {% csrf_token %}
    {{ form.as_p }}

    <button type="submit" class="btn btn-primary">Change Password</button>
  </form>
</div>
{% endblock %}
