{% extends 'base.html' %}

{% block content %}

<!-- customer inbox -->
<div class="lm-3">
    <h2 style="font-size: 2.5rem; font-weight: bold; margin-bottom: 0.5rem;">Your Messages</h2>

    <ul>
        {% for chat in chats %}
        <li>
            <strong>From: </strong><a href="{% url 'user_messages:message_detail' chat.id %}"> {{ chat.sender.name
                }}</a><br>
            <strong>Message: </strong> {{ chat.content }}<br>
            <strong>Sent: </strong> {{ chat.created_at }}
            {% if not chat.is_read %}
            <span class="badge bg-success">New</span>
            {% endif %}
        </li>
        {% empty %}
        <li>No messages yet.</li>
        {% endfor %}
    </ul>
</div>

{% endblock %}