<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <meta name="description"
        content="Art by Kita: A Neurodivergent artist based in County Clare, Ireland, specializing in acrylic landscapes, dreamscapes, and custom paintings, including fairy-themed and Irish myth art.">
    <meta name="keywords"
        content="Landscape artist in County Clare, Dreamscape paintings Ireland, Neurodivergent artist with Autism and ADHD, Custom landscape paintings, Irish Fantasy Paintings, Fairy-themed paintings, Acrylic landscape paintings, County Clare landscape artist, Realistic landscape portraits, Fairy art Ireland">
        <title>{% block title %}Art by Kita | Landscape and Dreamscape Artist in Ireland{% endblock %}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>

<body>
    <div class="d-flex flex-column min-vh-100">
        <header>
            <!-- Responsive Navbar with logged in and staff states -->
            <nav class="container-fluid navbar navbar-expand-lg">
                <h1 class="navbar-brand"><a href="{% url 'home:home' %}">Art by Kita</a></h1>

                <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item"><a class="nav-link" href="{% url 'gallery:painting_list' %}">Gallery</a>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'contact:contact' %}">Contact</a></li>
                        <!-- links for basket and user profile -->
                        {% if user.is_authenticated %}
                        <li class="nav-item"><a class="nav-link" href="{% url 'basket:view_basket' %}">Basket</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'accounts:profile' %}">Profile</a></li>
                        <!-- staff inbox for staff only -->
                        {% if user.is_staff %}
                        <li class="nav-item"><a class="nav-link" href="{% url 'user_messages:staff_inbox' %}">Staff Inbox</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'gallery:manage_paintings' %}">Manage Paintings</a></li>
                        {% endif %}
                        <li class="nav-item">
                            <a class="nav-link" href="#"
                                onclick="document.getElementById('logout-form').submit();">Logout</a>
                            <form id="logout-form" action="{% url 'accounts:logout' %}" method="POST"
                                style="display: none;">
                                {% csrf_token %}
                            </form>
                        </li>
                        {% else %}
                        <li class="nav-item"><a class="nav-link" href="{% url 'accounts:login' %}">Log In</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'accounts:signup' %}">Signup</a></li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
        </header>
        <!-- alert messages -->
        <div class="container mt-3">
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
            {% endfor %}
            {% endif %}
        </div>
        <!-- main content -->
        <main class="flex-fill">
            {% block content %}
            {% endblock %}
        </main>
        <br>
        <br>
        <!-- footer -->
        <footer class="text-center">
            <p>&copy; {{ current_year }} Art by Kita. All Rights Reserved.</p>
        </footer>
    </div>

    <!-- Cookie Consent Banner -->
    <div id="cookie-consent-banner"
        style="display: none; position: fixed; bottom: 0; left: 0; right: 0; background-color: #ffd9e5; color: black; padding: 10px; text-align: center; z-index: 1000;">
        We use cookies to enhance your experience. By continuing to visit this site you agree to our use of cookies.
        <button id="accept-cookies"
            style="background-color: white; color: black; border: none; padding: 5px 10px; margin-left: 10px; cursor: pointer;">Accept</button>
    </div>
    <!-- script tags -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://js.stripe.com/v3/"></script>
    <script src="{% static 'js/stripe.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>

</body>

</html>